<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="~/css/storeView.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    
</head>

<body>
    <h2 class="title">Product List</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>   
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.Description</td>
                <td>@i.Price</td>
                <td><a href="@Url.Action("Index", "Store")" class="btn btn-primary"></a></td>
            </tr>
        }
        </tbody>
    </table>
    <br>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Add product</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content-store">
                <partial name="_showModalStoreView.cshtml"/>
        </div>

    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/storeView.js"></script>
</body>
</html>